/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  scroll-behavior: smooth;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}
.mobs{
  display:none;
}

.navs{
  font-size:15px;
  padding:20px;
  text-decoration:none;
  color:white;
  font-family:Proxima Nova,Arial,sans-serif;
}
.navs{
  position: relative;
}
.navs::after,
.navs::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  background: rgb(241, 241, 241);
  height: 2px;
}
.navs:hover::after {
  width: 100%;
  z-index: -10;
  animation: dats 1s forwards;
  opacity: 1;
}
.disc {
  background-color: #0f256e;
  padding:8px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  display:block;
  font-family: 'Karla', sans-serif;
  padding:25px;
  box-shadow:none;
  height:29px;
}
@keyframes dats {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 3%;
      background: rgb(30, 127, 238);
    }
  }
  @keyframes dat2 {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 1%;
      background: #0f256e;
    }
  }
.mos{
  display:none;

}

.nes{
  float:right;
  font-size:16px;
  text-decoration:none;
  color:white;
  font-family: 'Karla', sans-serif;
  margin-right:80px;
  margin-top:-5px;
  background-color: #00cc83;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  border-color: #00cc83;
  display:block
  
}
.nes:hover{
  background-color:#0f9969;
  ;
}


.logo{
    text-decoration: none;
    color:white;
    font-size:25px;
    padding:25px;
    font-family:Proxima Nova,Arial,sans-serif;
}
.mob{
    display:none;
}
.contents{
    margin-top:79px;
    background-color: #0f256e;
    display:inline-block;
    color:white;
    height:560px;
}
.ints{
  display:block;
  font-size:30px;
  color:white;
   font-family: 'Karla', sans-serif;
   margin:60px 150px 0px 150px;
}
.intse{
  float:left;
  font-size:40px;
  color:rgb(31, 29, 29);
   font-family: 'Karla', sans-serif;
   margin:100px 150px 0px 150px;
   display:inline-block;
}
.contents p{
  font-size:20px;
  color:white;
   font-family: 'Karla', sans-serif;
   margin:30px 350px 0px 350px;
}
.s{
  height: 250px;
  width: 250px;
  background-color:#0f256e;
  margin:10px 5px 0px 5px;
  display:inline-block;
  }

.k{
  height: 250px;
  width: 250px;
    background-color: #0f256e;
    margin:30px 5px 0px 5px;
    display:inline-block;
  }
.t{
  height: 250px;
  width: 250px;
  background-color: #0f256e;
  margin:30px 5px 0px 5px;
  display:inline-block;
}

.footer {
  background-color: #0f256e;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: 'Karla', sans-serif;
  padding: 45px 50px;
  list-style: none;
}

.footer.footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
  list-style: none;
}
/* Footer links */

.footer p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
  list-style: none;
}

.footer p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
  list-style: none;
}

.footer .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
  list-style: none;
}

.footer .footer-links .link-1:before {
  content: none;
}

.footer .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #0f256e;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
  list-style: none;
}
.copy{
  color:white;
}
.mob{
  display:none;
}
.logmo{
  display:none;

}

.mouse-icon{
  width: 25px;
  height: 45px;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  text-align: center;
}.mouse-wheel{
 height: 6px;
 margin: 2px auto 0;
 display: block;
 width: 3px;
 background-color: white;
 border-radius: 50%;
 -webkit-animation: 1.6s ease infinite wheel-up-down;
-moz-animation: 1.6s ease infinite wheel-up-down;
 animation: 1.6s ease infinite wheel-up-down;
}
@-webkit-keyframes wheel-up-down {
 0% {
     margin-top: 2px;
     opacity: 0;
 }
 30% {
     opacity: 1;
 }
 100% {
     margin-top: 20px;
     opacity: 0;
 }
}@-moz-keyframes wheel-up-down {
 0% {
     margin-top: 2px;
     opacity: 0;
 }
 30% {
     opacity: 1;
 }
 100% {
     margin-top: 20px;
     opacity: 0;
 }
}@keyframes wheel-up-down {
 0% {
     margin-top: 2px;
     opacity: 0;
 }
 30% {
     opacity: 1;
 }
 100% {
     margin-top: 20px;
     opacity: 0;
 }
}

/*MOUSE INDICATOR  UP */
/*FOOTERINDICATOR  UP */

.footer .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer p.footer-links a:hover{text-decoration:underline;}

@media screen and (max-width: 713px) {
  .intse{
    font-size:40px;
    color:rgb(31, 29, 29);
     font-family: 'Karla', sans-serif;
     margin-left:200px;
  }
  .disc{
    display:none;
    }
  .contents{
    display:none;

  }
  .mos{
    max-width: 10000px;
    margin: auto;
    background-color:#0f256e;
    display:block;
    margin-top:79px;
    height:590px;
    width: 7989px;
    max-width: 599px;
  }
  .mos p{
    font-size:20px;
    color:white;
     font-family: 'Karla', sans-serif;
     margin:30px 30px 0px 30px;
  }

  .sers{
    display:block;
    font-size:30px;
    color:white;
     font-family: 'Karla', sans-serif;
     margin:60px 150px 0px 150px;
  }
  .sers p{
    display:block;
    font-size:30px;
    color:white;
     font-family: 'Karla', sans-serif;
     margin:60px 150px 0px 150px;
  }
  
  .mob{
    display:inline-block;
    background-color: #0f256e;
    padding:8px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    display:block;
    font-family: 'Karla', sans-serif;
    padding:25px;
    box-shadow:none;
    height:29px;
    overflow:hidden;
  }
  .logmo{
    color:white;
    font-size:26px;
    display:block
    
  }
  .contents{
    display:none;
  }
 
  .bar1 {
    width: 31px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    
   
  }
  .bar2{
    width: 31px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
   
  }
  .bar3 {
    width: 31px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    color:white;
   
  }
  .changes .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: rgb(3, 2, 2);
  }
  .changes .bar2 {opacity: 0;}
  
  .changes .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: rgb(0, 0, 0);
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: rgb(228, 228, 228);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: rgb(241, 241, 241);
  }
 .hamb{
   float:right;
   margin-right:61px;
   margin-top:-26px;
   
   
 }
 .mobs{
   display:none;
   height:100%;
   background-color: #0f256e;
   padding:0px;
   margin:0px;
   position: fixed;
  z-index: 1;
 }
.mnav{
  color:rgb(243, 232, 232);
  display:block;
  padding:20px;
  font-size:16px;
  text-decoration:none;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  border-radius: 2px;
  display:block;
  width:60px;
  margin-top:50px;
  margin-right:50px;
}
.mnavs{
  color:rgb(243, 232, 232);
  display:block;
  padding:20px;
  font-size:16px;
  text-decoration:none;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  border-radius: 2px;
  display:block;
  width:60px;
  margin-right:50px;
}
.mnavs:hover{
  background-color:blue;

}
    
  .footer .footer-left, .footer-distributed .footer-right {
    text-align:center;
    }
  .footer .footer-right {
    float: none;
    margin: 0 auto 20px;
      }
  .footer .footer-left p.footer-links {
        line-height: 1.8;
      }

}


